body {
    padding: 0;
    margin: 0;
    background-image: url(./assets/imgs/BG1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }

.no-hover {
    pointer-events: none;
}

#LogInContainer {
    height: 100vh;
    width: 100vw;
    
    z-index: 3000;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#LogInForm {
    background-color: whitesmoke;
    padding: 40px;
    border: solid black 5px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.BOXcontainer {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    justify-content: center;
    row-gap: 18px;
    column-gap: 4vw;
    padding-top: 10vh;
    
}

.BOX {
    border: black 5px solid;
    border-radius: 25px;
    background-color: rgba(245, 245, 245,.8);
    margin: 1.25vw auto;
    /* width: 400px;  */
    height: 558px;
    /* height: fit-content; */
    text-align: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing:content-box;
    
}

.BOX:hover {
    height: 845.750px;
    transition: height 1s ;
    border: whitesmoke 5px solid;
}

.FireTypeCardBox {
    background-color: rgba(255,204,204,.8);
}

.WaterTypeCardBox {
    background-color: rgba(149,212,247,.9);
    border-color: darkblue;
}

.GrassTypeCardBox {
    background-color: #E5F2E5;    
    border-color: #7FBF7F;
}

.PsychicTypeCardBox {
    background-color: #F2E5F2;
    border-color: #CC99CC;
}

.LightningTypeCardBox {
    background-color: rgb(244,241,157,.9);
    border-color: rgb(218,166,17);
}

.CardTopTable table {
    font-weight: bold;
    width:100%;  
    padding: 5%;
}

.CardTopTable td {
    width: 10vw; 
    height: 4em;  
    font-size: 1.5em;
}

.PokemonCards {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 400px; 
    height: 558px; 
    align-self: center;
    transition: 1s ease-in;
}

.Price {
    font-size: 2em; 
    text-align: center;
    margin: 2vh;
}

/* // Top Bar // */

.TotalSection {
    display: flex;
    border-bottom: black solid 1vh;
    width: 100vw;  
    background-color: whitesmoke;
    margin-bottom: 2vh;
}

/* // PokeFolio // */
.PokeFolio {
    width: 45vw;
}

.PokeFolio h1 {
    margin: 0;
    font-size: 2.75em;
    font-weight: bolder;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* // PokeBall //  */
.PokeBall {
    width: 10vw;
}

#SwitchModeButton {
    height: 8vh;
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* // Total Area // */

.TotalsTable {
    width: 45vw;
    font-size: 2em;
}

.TotalsTable table {
    width: 35vw;   
}

.TotalsTable th {
    width: 25%;    
}

.TotalsTable td {
    padding-left: 30px;
}



.FORMcontainer{
    width: 50%;
    padding: 40px;  
    /* height: 80vh; */
    border: black solid 5px;
    border-radius: 20px;

    z-index: 900;
    position: fixed;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    background-color: whitesmoke;
}

#CardLookupIcon {
    width: 30px;
    float: right;
    margin: 20px;
}

#addPokemonForm{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    row-gap: 10px;
    column-gap: 5px;   

    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.FORMcontainer label{
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.FORMcontainer input[type=text], .FORMcontainer input[type=number], .FORMcontainer select, .FORMcontainer button {     
    font-size: 1.5em;
    width: 90%;
    margin: auto;
}

/* .FORMcontainer input[type=text] {
    font-size: 1.5em;
} */

/* .FORMcontainer input[type=number] {
    font-size: 1.5em;
} */

/* .FORMcontainer select {
    font-size: 1.5em;
} */

.FORMcontainer button {
    font-size: 1.5em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.DELETER {
    background-color: lightgrey;
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
}

.DELETER:hover {
    background-color: red
}

#ModalScreen {
    height: 900px;
    z-index: 2000;
    border-radius: 27px;
    position: fixed;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
}

#ModalContainer {
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    position: fixed;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
}

#CardTypeSelector{
    width: 25%;
    height: 50px;
    font-size: 2em;

    display: none;
}